<footer id="contacto">
    <h3>CONTACTO</h3>
    <a href="https://web.whatsapp.com/" target="_blank">
      <i class="fa-brands fa-square-whatsapp"></i> WhatsApp
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank">
      <i class="fas fa-envelope"></i> Gmail
    </a>
  </footer>