<header class="headerNav">
    <img class="logo" src="/images/dig.png" alt="Logo de la marca">
    <a href="#" class="hamburguer-boton"><i class="fa-solid fa-bars"></i></a>

    <!--CAMBIOS EN EL NAVBAR, SEPARACION DE IZQUIERDA A DERECHA, CREACION CLASE GENERAL MAIN-NAVBAR Y CLASE LEFT-NAVBAR Y RIGHT-NAVBAR-->
    <!--<nav>
        <ul class="listaNav">
            <li><a href="#productos">Productos</a></li>
            <li><a href="#locales">Locales</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <a href="/carrito"><img class="carrito" src="/images/carrito.png" alt="carrito"></a>
            <li class="loging"><a href="/login">Login</a></li>
        </ul>
    -->
    <nav class="main-navbar">

        <ul class="left-navbar">
            <li><a href="/">Volver</a></li>
        </ul>

        <ul class="right-navbar">
            <a href="/carrito"><img class="carrito" src="/images/carrito.png" alt="carrito"></a>
        </ul>

    </nav>
</header>