<header class="headerNav">
    <img class="logo" src="/images/dig.png" alt="Logo de la marca">
    <a href="#" class="hamburguer-boton"><i class="fa-solid fa-bars"></i></a>

    <nav class="main-navbar">

        <ul class="left-navbar">
            <li><a href="/#productos">Productos</a></li>
            <li><a href="/#locales">Locales</a></li>
            <li><a href="/#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>

        <ul class="right-navbar">
            <a href="/cart/carrito"><img class="carrito" src="/images/carrito.png" alt="carrito"></a>
            <li class="loging"><a href="/user/login">Iniciar Sesión</a></li>
            <li class="loging"><a href="/user/register">Registrarme</a></li>
        </ul>

    </nav>
</header>
<<<<<<< HEAD

=======
>>>>>>> f4baccd4547c99d5e23a4c332844351b06e4160d
