<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
    <title>Login DigitalBurguer</title>
</head>
<body>
    
  <%-include("./partials/header")%>  
    
  <div class="Contenido">
    <div>
      <h1 class="tituloPrinc">DIGITAL BURGER - CREACIÓN DE PRODUCTOS</h1>
    </div>

    <form action="/products" method="POST" class="form-login" enctype="multipart/form-data">
      <label class="formulario" for="name">Nombre:
        <input class="control" type="text" id="name" name="name" required>
        <div>
          <small class="erName"></small>
        </div>
      </label>
    
      <label class="formulario" for="description">Descripción:
        <textarea class="control" id="description" name="description" required></textarea>
        <div>
          <small class="erDescription"></small>
        </div>
      </label>
    
      <label class="formulario" for="price">Precio:
        <input class="control" type="number" id="price" name="price" required>      
        <div>
          <small class="erPrice"></small>
        </div>
      </label>
    
      <label class="formulario" for="image">Imagen:
        <input class="control" type="file" id="image" name="img" accept="image/*">
        <div>
          <small class="erImage"></small>
        </div>
      </label>
    
      <label class="formulario" for="calories">Calorías por porción:
        <input class="control" type="number" id="calories" name="calories" required>
        <div>
          <small class="erCalories"></small>
        </div>
      </label>
    
      <label class="formulario" for="fat">Grasas por porción:
        <input class="control" type="number" step="0.01" id="fat" name="fat" required>
        <div>
          <small class="erFat"></small>
        </div>
      </label>
    
      <label class="formulario" for="protein">Proteínas por porción:
        <input class="control" type="number" step="0.01" id="protein" name="protein" required>
        <div>
          <small class="erProtein"></small>
        </div>
      </label>
    
      <label class="formulario" for="carbohydrates">Carbohidratos por porción:
        <input class="control" type="number" step="0.01" id="carbohydrates" name="carbohydrates" required>
        <div>
          <small class="erCarbohydrates"></small>
        </div>
      </label>
    
      <label class="formulario" for="size">Tamaño de la hamburguesa (en gramos):
        <input class="control" type="number" id="size" name="size" required>
        <div>
          <small class="erSize"></small>
        </div>
      </label>
    
      <label class="formulario" for="additional_ingredients">Ingredientes adicionales (separados por coma):
        <input class="control" type="text" id="additional_ingredients" name="additional_ingredients" required>
      </label>
    
      <label class="formulario" for="spicy">Nivel de picante:
        <select class="control" id="spicy" name="spicy">
          <option value="true">Picante</option>
          <option value="false">No picante</option>
        </select>
      </label>
    
      <label class="formulario" for="suggested_Acompaniments">Sugerencias de acompañamientos (separados por coma):
        <input class="control" type="text" id="suggested_Acompaniments" name="suggested_Acompaniments" required>
      </label> 
    
      <label class="formulario" for="additional_Information">Información adicional:
        <textarea class="control" id="additional_Information" name="additional_Information"></textarea>
      </label>
    <br><Br>
      <button type="submit" id="button" class="boton-formulario">
        Crear Producto
      </button>
    </form>

  </div>
  <%-include ('./partials/footer') %>
  <script src="../js/productValidator.js"></script>
</body>
</html>