<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>La página no existe</title>
</head>
<body>
    <h1>La página no existe</h1>
</body>
</html>