<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/carrito.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <title>Carrito DigitalBurguer</title>
</head>
<body>

  <header class="headerNav">
    <img class="logo" src="/images/dig.png" alt="Logo de la marca">
    <a href="#" class="hamburguer-boton"><i class="fa-solid fa-bars"></i></a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="/">Volver</a></li>
        </ul>
    </nav>
</header>

  <h1>CARRITO</h1>
  <ul class="lista-pedidos">
    <li class="pedido">
        <img class="fotopedido" src="/images/hamburguesa1.jpg" alt="hamburguesa1">
        <div class="pedido-content">
        <h2 class="burguer">Super Cheddar</h2>
        <p>Precio: $XX.XX</p>
        <p>Cantidad: 2</p>
        <p>Subtotal: $XX.XX</p>
        <a href="#" class="eliminar">Eliminar</a>
      </div>
    </li>
    <li class="pedido">
        <img class="fotopedido" src="/images/hamburguesa2.jpg" alt="hamburguesa1">
        <div class="pedido-content">
        <h2 class="burguer">Digital Burguer</h2>
        <p >Precio: $XX.XX</p>
        <p>Cantidad: 1</p>
        <p>Subtotal: $XX.XX</p>
        <a href="#" class="eliminar">Eliminar</a>
      </div>
    </li>
    <li class="pedido">
        <img class="fotopedido" src="/images/hamburguesa3.jpg" alt="hamburguesa1">
        <div class="pedido-content">
        <h2 class="burguer">Burguer Doble</h2>
        <p>Precio: $XX.XX</p>
        <p>Cantidad: 1</p>
        <p>Subtotal: $XX.XX</p>
        <a href="#" class="eliminar">Eliminar</a>
      </div>
    </li>
    <li class="pedido">
        <img class="fotopedido" src="/images/hamburguesa4.jpg" alt="hamburguesa1">
        <div class="pedido-content">
        <h2 class="burguer">Burguer simple</h2>
        <p>Precio: $XX.XX</p>
        <p>Cantidad: 1</p>
        <p>Subtotal: $XX.XX</p>
        <a href="#" class="eliminar">Eliminar</a>
      </div>
    </li>
<br></br>
<div class="boton-finalizar-compra">
  <button class="boton-formulario">Finalizar compra</button>
</div>
<footer id="contacto">
  <h3>CONTACTO</h3>
  <a href="https://web.whatsapp.com/" target="_blank">
    <i class="fa-brands fa-square-whatsapp"></i> WhatsApp
  </a>
  <a href="https://www.instagram.com/" target="_blank">
    <i class="fab fa-instagram"></i> Instagram
  </a>
  <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank">
    <i class="fas fa-envelope"></i> Gmail
  </a>
</footer>
</body>
</html>