<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/carrito.css">
    <title>Carrito DigitalBurguer</title>
</head>
<body>
    <header class="headerNav">
        <img class="logo" src="/images/dig.png" alt="Logo de la marca">
        <nav>
            <ul class="listaNav">
                <li><a href="#">Volver</a></li>
            </ul>    
        </nav>
  </header>
  <h1>CARRITO</h1>
  <section class="pedido">
    <img class="fotopedido" src="/images/hamburguesa1.jpg" alt="hamburguesa1">
    <h2 class="burguer">Super Cheddar</h2>
  </section>
  <section class="pedido">
    <img class="fotopedido" src="/images/hamburguesa1.jpg" alt="hamburguesa1">
    <h2 class="burguer">Digital Burguer</h2>
  </section>
  <section class="pedido">
    <img class="fotopedido" src="/images/hamburguesa1.jpg" alt="hamburguesa1">
    <h2 class="burguer">Burguer Doble</h2>
  </section>
  <section class="pedido">
    <img class="fotopedido" src="/images/hamburguesa1.jpg" alt="hamburguesa1">
    <h2 class="burguer">Burguer simple</h2>
  </section>
</body>
</html>