<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
    <title>Create DigitalBurguer</title>
</head>
<body>
  <%- include("./partials/header") %>

  <div class="Contenido">
    <div>
      <h1 class="tituloPrinc">MODIFICAR TIPO DE USUARIO</h1>
    </div>

    <form action="/user/admin/<%= user.id %>/edit?_method=PUT" method="POST" class="form-login">
      <label class="formulario" for="name">Tipo de Usuario:
        <input class="control" type="number" id="user_type" name="user_type" value="<%= user ? user.user_type : '' %>" required>
      </label>
<br></br>
      <button type="submit" class="boton-formulario">
        Guardar Cambios
      </button>
    </form>

  </div>
  <%- include('./partials/footer') %>
</body>
</html>