<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <title>DigitalBurguer</title>
</head>

<body>
    <header class="headerNav">
        <img class="logo" src="/images/dig.png" alt="Logo de la marca">
        <nav>
            <ul class="listaNav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Locales</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <a href="#"><img class="carrito" src="/images/carrito.png" alt="carrito"></a>
                <li class="loging">Loging</li>
            </ul>


           
        </nav>
  </header>
    <div>
        <h1 class="titulo">DIGITAL BURGER</h1>
    </div>
    <div>
        <img src="/images/localheager1.jpg" alt="imagenes varias">
        <img src="/images/localheader2.jpg" alt="imagenes varias2">
        <img src="/images/localheader3.jpg" alt="imagenes varias3">
    </div>
    <section>
        <h2 class="titulo">PRODUCTOS</h2>
        <img src="/images/hamburguesa1.jpg" alt="imagenes de hamburguesa">
        <img src="/images/hamburguesa2.jpg" alt="imagenes de hamburguesa">
        <img src="/images/hamburguesa3.jpg" alt="imagenes de hamburguesa">
    </section>
    <section>
        <h2 class="titulo">LOCALES</h2>
        <div class="sucursales">
            <img src="/img/sucursalPalermo.jpg" alt="SUCPALERMO">
            <div class="card-body">
                <h5 class="card-title">Palermo</h5>
                <p class="card-text">informacion de la sucursal</p>
                <a href="#" class="btn btn-primary">Ver</a>
            </div>
            <div class="sucursales">
                <img src="/img/sucursalBelgrano.jpg" alt="SUCBELGRANO">
                <div class="card-body">
                    <h5 class="card-title">Belgrano</h5>
                    <p class="card-text">informacion de la sucursal</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
    </section>
    <section>
        <h2 class="titulo">SOBRE NOSOTROS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, maxime! Magni officiis eos beatae odio asperiores error, esse excepturi corrupti, maxime repudiandae, hic nesciunt quas dolores! Cupiditate harum qui totam quae, sit ipsam earum vitae debitis placeat nam. Ullam, perspiciatis.</p>
    </section>
    <footer>
        <h3>CONTACTO</h3>
        <a href="https://web.whatsapp.com/" target="_blank">whatsapp</a>
        <a href="https://www.instagram.com/" target="_blank">instagram</a>
        <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank">Gmail</a>
    </footer>
</body>
</html>