<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Login DigitalBurguer</title>
</head>
<body>
    <header class="headerNav">
        <img class="logo" src="/images/dig.png" alt="Logo de la marca">
        <nav>
            <ul class="listaNav">
                <li><a href="#">Volver</a></li>
                <a href="#"><img class="carrito" src="/images/carrito.png" alt="carrito"></a>
            </ul>    
        </nav>
  </header>
<div>
  <h1 class="tituloPrinc">DIGITAL REGISTER</h1>
</div>
</body>
</html>