<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tektur&display=swap" rel="stylesheet">
    <title>Login DigitalBurguer</title>
</head>
<body>
    
  <%- include ('./partials/headerViews')%>       
    
    <!--<header class="headerNav">
        <img class="logo" src="/images/dig.png" alt="Logo de la marca">
        <nav>
            <ul class="listaNav">
                <li><a href="/">Volver</a></li>
                <a href="/carrito"><img class="carrito" src="/images/carrito.png" alt="carrito"></a>
            </ul>    
        </nav>
  </header>-->
  <div class="Contenido">
    <div>
      <h1 class="tituloPrinc">DIGITAL REGISTER - CREAR CUENTA</h1>
    </div>
    <form action="" method="post" class="form-login">
      <div class="formulario">
        <input type="text" name="nombre_completo" placeholder="Nombre completo" class="control" required>
      </div>
  
      <div class="formulario">
        <input type="email" name="correo_electronico" placeholder="Correo electrónico" class="control" required>
      </div>
  
      <div class="formulario">
        <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" class="control" required>
      </div>
  
      <div class="formulario">
        <input type="password" name="contrasena" placeholder="Contraseña" class="control" required>
      </div>
  
      <div class="formulario">
        <input type="password" name="confirmar_contrasena" placeholder="Confirmar contraseña" class="control" required>
      </div>
  
      <div>
        <button type="submit" class="boton-formulario">Registrarse</button>
      </div>
  
      <div>
        <p>¿Ya tienes una cuenta? <a href="/iniciar_sesion">Inicia sesión aquí</a></p>
      </div>
    </form>
  </div>
  <%-include ('./partials/footer') %>
</body>
</html>