html {
  scroll-behavior: smooth;
}
 .titulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.titulo-productos-link { 
  text-decoration: none; 
}

.titulo-productos-linkk:hover {
  color: #09ff00;  
}

.tituloPrinc{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
}

.menu{
    display: flex;
    width: 60%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
}

section .fotomenu{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .55;
    transition: 0.7s ease;
}

section .fotomenu:hover{
    width: 50%;
    opacity: 1;
    filter: contrast(120%);
} 

.imgPrinc{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.sucursales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%; /* Anchura total de las imágenes y descripciones */
    margin: 0 auto; /* Centrar el contenido en el contenedor */
  }
  
  .card {
    width: 100%; /* Cada tarjeta ocupa el 100% del ancho del contenedor */
    display: flex;
    flex-direction: column; /* Las tarjetas se apilan verticalmente */
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px black
  }
  
  .card img {
    width: 100%; /* Cada imagen ocupa el 100% del ancho de su tarjeta */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
  }
  
  .card-content {
    flex: 1; /* El contenido restante (descripción y botón) se expandirá para ocupar el espacio restante en la tarjeta */
    text-align: center; /* Centrar el texto en la tarjeta */
  }
  
  /* Estilos para los títulos dentro de las tarjetas */
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    color: white;
  }
  
  /* Estilos para los textos dentro de las tarjetas */
  .card-text {
    font-size: 14px;
    color:white;
    margin-top: 0;
    margin-bottom: 10px; /* Espacio entre la descripción y el botón */
  }
  
  /* Estilos para los botones dentro de las tarjetas */
  .btn {
    display: inline-block;
    padding: 6px 12px;
    background-color:rgb(211, 211, 211);
    color: #222222;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Media query para pantallas grandes */
  @media screen and (min-width: 768px) {
    .card {
      width: calc(50% - 20px); /* Para que dos tarjetas ocupen la mitad del ancho del contenedor, con 20px de espacio entre ellas */
    }
  
    .card-content {
      text-align: center; /* Centrar el texto en la tarjeta */
    }
  }
  
  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 767px) {
    .card {
      width: 100%; /* Cada tarjeta ocupa el 100% del ancho del contenedor */
    }
  
    .card img {
      margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
    }
  
    .card-content {
      text-align: center; /* Centrar el texto en la tarjeta en pantallas pequeñas */
    }
  }

  section#nosotros {
    background-color: #272525;
    padding: 40px;
    text-align: justify;
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 800px;
    margin: 0 auto
}


section#nosotros .titulo {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}


section#nosotros p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

/*
.sucursales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    background-color: #5e5c5c;
   margin-left: 60px;
    margin-bottom: 40px;
}
.sucursales img{
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}/*

