 .titulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.tituloPrinc{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
}

.menu{
    display: flex;
    width: 60%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
}

section .fotomenu{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .55;
    transition: 0.7s ease;
}

section .fotomenu:hover{
    width: 50%;
    opacity: 1;
    filter: contrast(120%);
}
.imgUbi{
    width: 15vw;
}
 

.imgPrinc{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sucursales{
    display: inline-flex;
    background-color: #5e5c5c;
    margin-left: 60px;
    margin-bottom: 40px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
