/* Estilos para la página de productos */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272525;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tektur', cursive;
  position: relative;
  min-height: 100vh;
}

p {
  color: rgb(255, 255, 255);
}

.titulo {
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.producto {
  border: 1px solid #09ff00;
  padding: 10px;
  background-color: #272525;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative; /* Agregamos position relative para poder usar position absolute en el botón */
}

.producto img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.descripcion {
  padding: 10px;
}

.burger {
  color: white;
  margin-bottom: 10px;
}

.precio {
  font-weight: bold;
}

.ver-detalle {
  position: absolute; /* Fijamos el botón en la parte inferior del contenedor */
  bottom: 10px; /* 10px desde la parte inferior */
  left: 50%; /* Centramos horizontalmente el botón */
  transform: translateX(-50%);
  display: block;
  text-align: center;
  color: #fff;
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  width: 80%;
}

.ver-detalle:hover {
  background-color: #09ff00;
  color: #000000;
}

/* Estilos para la página de detalle del producto */
#detalle-producto {
  margin: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#detalle-producto .producto {
  border: 1px solid #09ff00;
  padding: 20px;
  background-color: #272525;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#detalle-producto img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

#detalle-producto .burger {
  color: white;
  margin-bottom: 10px;
}

#detalle-producto .descripcion {
  padding: 10px;
}

#detalle-producto .precio {
  font-weight: bold;
}