

*{
    box-sizing: border-box;
    margin:0% 0% 0% 0%;
    padding:0% 0% 0% 0%;
}
body{
    background-color: #272525;
    /* LOS TIPOS DE LETRA PARA LA PAGINA
    */
    font-family: 'Roboto', sans-serif;
    font-family: 'Tektur', cursive;
    position: relative;
    min-height: 100vh;
   
}

.headerNav{
    background-color: #5e5c5c;
    overflow: auto;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Profundidad */
}
.logo{
    width: 5vw;
    float: left;
    border-radius: 5vw;
/*     width: 10%;
    max-width: 80px;
    float: left;
    border-radius: 50%; */
}

    .hamburguer-boton{
        background-color: #09ff00;
        color:#ffffff;
        display: block;
        max-width: 60px;
        padding: 15px 0;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        margin:auto;
      
      }

.fa-solid fa-cart-plus

/*
.listaNav{
    float: center;
    list-style-type: none;
    display: none
    align-items: center;
 }
.listaNav li{
    display: inline-block;
    margin-left: 50px;
    margin-top: 3.5vh;*/
    /* border: solid 7px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255); */
    /*CAMBIO DE COLOR PARA LAS LETRAS DE LOS BOTONES
    */
    /*border: solid 7px rgb(211, 211, 211);
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}*/

/*.listaNav .loging{
    background-color: #09ff00;
    border: solid 7px #09ff00;
    float: right;
    padding: 0;
    margin-right: 50px;
    margin-top: 3.5vh;
    border-radius: 5px;
}


}*/

.main-navbar{
    display: none;
  }
  .main-navbar ul {
    list-style: none;
    margin: 1vh;
    padding: 0;
    
  }
  .main-navbar ul li{
    border: solid 7px rgb(211, 211, 211);
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
  }

  .main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
  }
  .carrito{
    float: right;
    /*margin-top: 3vh;*/
    margin-right: 30px;
    width: 2.7vw;
    border-radius: 20px;
  }

.main-navbar a:visited {
    color: rgb(0, 0, 0); /* Cambia el color para los enlaces visitados */
    text-decoration: none;
}

.main-navbar ul li:hover {
    background-color: #09ff00;
    border: solid 7px #09ff00;
    font-weight: bold;
    
}


footer#contacto {
  background-color: #272525;
  color: #fff; 
  padding: 20px;
  text-align: center; 
  margin-top: auto;
}

footer#contacto a {
  display: inline-block;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


footer#contacto a i {
  margin-right: 5px;
  color: #09ff00;
}


@media (min-width: 769px) {
  .hamburguer-boton {
      display: none;
  }


  .main-navbar {
      display: flex;
      justify-content: space-between;
  }

  .main-navbar ul {
      display: flex;
  }

  .main-navbar li {
      margin: 0 5px;
  }
}


@media (max-width: 768px) {
  .hamburguer-boton {
      display: block; 
  }


  .main-navbar {
      display: none; 
  }
}

/*Estilos para el perfil de usuario*/
.contentUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.perfilUser {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Estilos para el formulario de búsqueda */
.search-form {
  display: flex;
  flex-direction: row; /* Alinea los elementos en una fila horizontal */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  margin-top: 20px; /* Espacio entre el formulario y otros elementos */
  justify-content: center; /* Centrar horizontalmente */
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Espacio entre el campo de búsqueda y el menú desplegable */
  font-family: 'Tektur', cursive; /* Tipo de letra personalizado */
  color: #000; /* Color del texto del campo de búsqueda */
  background-color: #fff; /* Color de fondo del campo de búsqueda */
}

.search-criteria {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Espacio entre el menú desplegable y el botón de búsqueda */
  font-family: 'Tektur', cursive; /* Tipo de letra personalizado */
  color: #000; /* Color del texto del menú desplegable */
  background-color: #fff; /* Color de fondo del menú desplegable */
}

.search-button {
  padding: 8px 16px;
  background-color: #000; /* Color de fondo del botón (negro) */
  color: #fff; /* Color del texto del botón (blanco) */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Tektur', cursive; /* Tipo de letra personalizado */
  transition: background-color 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.search-button:hover {
  background-color: #09ff00; /* Color de fondo del botón al pasar el mouse (verde) */
  color: #000; /* Color del texto del botón al pasar el mouse (negro) */
}