*{
    box-sizing: border-box;
    margin:0% 0% 0% 0%;
    padding:0% 0% 0% 0%;
}
body{
    background-color: #272525;
}

.headerNav{
    background-color: #5e5c5c;
    overflow: auto;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Profundidad */
}
.logo{
    width: 5vw;
    float: left;
    border-radius: 5vw;
/*     width: 10%;
    max-width: 80px;
    float: left;
    border-radius: 50%; */
}
.listaNav li:hover {
    background-color: #09ff00;
    border: solid 7px #09ff00;
    font-weight: bold;
}
.listaNav{
    float: center;
    list-style-type: none;
/*     align-items: center;
 */}

.listaNav li{
    display: inline-block;
    margin-left: 50px;
    margin-top: 3.5vh;
    border: solid 7px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.listaNav .loging{
    background-color: #09ff00;
    border: solid 7px #09ff00;
    float: right;
    padding: 0;
    margin-right: 50px;
    margin-top: 3.5vh;
    border-radius: 5px;
}

.carrito{
    float: right;
    margin-top: 3vh;
    margin-right: 30px;
    width: 2.7vw;
    border-radius: 20px;
}

.listaNav a:link {
    color: rgb(0, 0, 0); /* Cambia el color para los enlaces no visitados */
    text-decoration: none;
}
.listaNav a:visited {
    color: rgb(0, 0, 0); /* Cambia el color para los enlaces visitados */
    text-decoration: none;
}

footer{
    background-color: #5e5c5c;
}
