*{
    box-sizing: border-box;
    margin:0% 0% 0% 0%;
    padding:0% 0% 0% 0%;
}
body{
    background-color: #272525;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tektur', cursive;
    position: relative;
    min-height: 100vh;
   
}

.headerNav{
    background-color: transparent;
    border-bottom: solid 0.7px #D5DBDB;
    overflow: auto;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.logo{
    width: 5vw;
    float: left;
    border-radius: 5vw;
}
.fa-solid fa-cart-plus
.main-navbar{
    display: none;
  }
  .main-navbar ul {
    list-style: none;
    margin: 1vh;
    padding: 0;    
  }
  .main-navbar ul li{
    border: solid 7px rgb(211, 211, 211);
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
  }
  .main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
  }
  .carrito{
    float: right;
    margin-right: 30px;
    width: 2.7vw;
    border-radius: 20px;
  }

.main-navbar a:visited {
    color: rgb(0, 0, 0); 
    text-decoration: none;
}

.main-navbar ul li:hover {
    background-color: #09ff00;
    border: solid 7px #09ff00;
    font-weight: bold;
    
}

footer#contacto {
  background-color: #272525;
  color: #fff; 
  padding: 20px;
  text-align: center; 
  margin-top: auto;
}

footer#contacto a {
  display: inline-block;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


footer#contacto a i {
  margin-right: 5px;
  color: #09ff00;
}

.menu-container.show-menu {
  display: block;
  background-color: rgba(204, 204, 204, 0.8);
}

.menu-small {
  display: none;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.menu-small .hamburguer-boton {
  background-color: #09ff00;
  color: #FFFFFF;
  position: center;;
  width: 60px;
  padding: 15px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 25px;
  margin: auto;
}

.menu-small .menu-container {
  display: none;
}

.menu-small .menu-container ul {
  text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
  
}
.menu li a {
  text-decoration: none;

}

.menu-container ul.menu li a {
  color: white;
}

.menu-container.show-menu ul.menu {
  display: block;
  text-align: center;
}

.menu-small .menu-container ul li {
  padding: 10px;
  list-style: none;
}

.top-right-elements {
  position: absolute;
  top: 0;
  right: 0;
}

.small-image {
  width: 50px;
  height: 50px;
}

@media (min-width: 769px) {
  .hamburguer-boton {
      display: none;
  }
  .top-right-elements {
    display: none;
  }


  .main-navbar {
      display: flex;
      justify-content: space-between;
  }

  .main-navbar ul {
      display: flex;
  }

  .main-navbar li {
      margin: 0 5px;
  }
}


@media (max-width: 768px) {
  .menu-small {
    display: block;
    width: 30%;
    margin: 0 auto; 
    text-align: center;
  
  }
  .main-navbar {
      display: none; 
  }
  .logo{
    width: 10vw;
  }
}

.contentUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.perfilUser {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  margin-top: 20px;
  justify-content: center; 
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; 
  font-family: 'Tektur', cursive;
  color: #000;
  background-color: #fff; 
}

.search-criteria {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; 
  font-family: 'Tektur', cursive; 
  color: #000; 
  background-color: #fff; 
}

.search-button {
  padding: 8px 16px;
  background-color: #000; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Tektur', cursive; 
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #09ff00;
  color: #000;
  animation: pulse 1.5s infinite; 
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1); 
  }
  100% {
      transform: scale(1); 
  }
}

